<!DOCTYPE html>
<html lang="en" ng-app="sifan">
<head>
  <meta charset="UTF-8">
  <title>My App</title>
  <link type="text/css" rel="stylesheet" href="static/css/vendor/jquery.fullPage.css">
  <link type="text/css" rel="stylesheet" href="static/css/vendor/semantic.css">
  <link type="text/css" rel="stylesheet" href="static/css/app.css">
  <script type="text/javascript" src="static/js/vendor/requirejs.js" data-main="static/js/main"></script>
</head>
<body>
<div ng-view></div>

<div id="header" class="ui inverted menu">
    <a class="item" href="#/home">
        <i class="home icon"></i>主页
    </a>
</div>

<div id="fullpage">
  <div class="section " id="section0">
    <div class="intro">
      <h1>小龙虾</h1>
    </div>
  </div>
  <div class="section" id="section1">
    <div class="intro">
      <h1>鲜锅兔</h1>
    </div>

  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>皮蛋瘦肉粥</h1>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="intro">
      <h1>春卷</h1>
    </div>
  </div>
  <div class="section" id="section4">
    <div class="intro">
      <h1>烤猪蹄</h1>
    </div>
  </div>
</div>

<div id="footer" class="item">Footer</div>

</body>
</html>